<footer class="footer">
  <small>
    <strong><a href="https://www.facebook.com/umair.rajput.9083">MyRecipes</a></strong>
    by <em><a href="https://www.facebook.com/umair.rajput.9083">Umair Rajput</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
